@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: #3a506b;
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    outline: none;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  li span {
    margin-right: 10px;
  }
  
  li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  li input[type="text"] {
    width: 70%;
    padding: 10px;
    
    border-radius: 5px 0 0 5px;
    
  }
  
  li button.edit-btn {
    background-color: #2196f3;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  li button.edit-btn:hover {
    background-color: #0d8bf2;
  }
  
  